Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends:
Maintainer: eBlocker Open Source UG <dev@eblocker.org>
Description: eBlocker UI
Distribution: stable
