<div layout="column" layout-fill class="settings-child-view">
    <div layout-padding>

        <eb-back-to-table state="{{vm.backState}}" params="vm.stateParams"></eb-back-to-table>

        <md-divider></md-divider>

        <div class="config-frame md-whiteframe-z1" layout="column">
            {{ 'ADMINCONSOLE.DOCTOR.DIAGNOSIS.TABLE.MESSAGE.' + vm.diagnosis.tag | translate }}{{vm.diagnosis.dynamicInfo}}
            <a href="{{'https://eblocker.org/doctor/' + vm.diagnosis.tag}}" target="_top">
                {{'ADMINCONSOLE.DOCTOR.DIAGNOSIS.TABLE.MESSAGE.MORE_INFO' | translate}}</a>
        </div>
    </div>
</div>