<div layout="column" layout-fill class="settings-child-view">
    <div layout-padding>
        <div style="margin-top: 10px;" class="md-headline">
            {{ 'ADMINCONSOLE.DOCTOR.DIAGNOSIS.TITLE' | translate}}
        </div>
        <eb-table table-data="vm.diagnosisResult"
                  table-header="vm.tableHeaderConfig"
                  table-template="app/components/doctor/diagnosis/diagnosis-table.template.html"
                  table-id="vm.tableId"
                  template-callback="vm.templateCallback">
        </eb-table>
    </div>
</div>