<div layout="column" layout-fill>
    <div class="md-padding">

        <md-tabs md-selected="vm.selectedIndex" md-border-bottom md-swipe-content>
            <md-tab ng-repeat="subState in vm.subStates track by $index"
                    ng-disabled="subState.disabled"
                    ng-click="vm.switchTab(subState)">
                <md-tab-label>
                    <span ng-if="subState.name === 'mobilestatus'">OpenVPN</span>
                    <span ng-if="subState.name !== 'mobilestatus'">{{subState.translationKey | translate}}</span>
                </md-tab-label>
            </md-tab>
        </md-tabs>
        <div ui-view></div>
    </div>
</div>
