<dropdown-online-time handle-click="ctrl.getTimeStamp()"
                      image-label="'CONTROLBAR.MENU.ONLINE_TIME.LABEL'"
                      label="'CONTROLBAR.MENU.ONLINE_TIME.LABEL'"
                      image-url="'/img/icons/ic_timelapse.svg'"
                      close-dropdown="ctrl.closeDropdown"
                      profile="ctrl.onlineTimeProfile"
                      get-contingent-day="ctrl.getContingentDay(contingent)"
                      get-contingent-display-time="ctrl.getContingentDisplayTime(minutesFromMidnight)"
                      start-usage="ctrl.startUsage()"
                      stop-usage="ctrl.stopUsage()"
                      is-loading="ctrl.loading"
                      tooltip="'CONTROLBAR.MENU.ONLINE_TIME.TOOLTIP'">
</dropdown-online-time>
