<div>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab>
            <md-tab-label>{{ 'HELP_ICON.TAB.OVERVIEW' | translate }}</md-tab-label>
            <md-tab-body>
                <md-content layout="column" class="help-tab">
                    <div style="margin-top: 10px;" class="md-headline">
                        {{ 'HELP_ICON.HOME.LICENSE.OVERVIEW.TITLE' | translate}}
                    </div>
                    <div>
                        <p translate="HELP_ICON.HOME.LICENSE.OVERVIEW.P1"></p>
                    </div>
                    <!--<div ng-bind-html="vm.contentOverview | htmlSafe"></div>-->
                </md-content>
            </md-tab-body>
        </md-tab>

        <!-- comment or uncomment to show or hide details section -->
        <md-tab>
            <md-tab-label>{{ 'HELP_ICON.TAB.DETAILS' | translate }}</md-tab-label>
            <md-tab-body>
                <md-content layout="column" class="help-tab">
                    <div>
                        <p translate="HELP_ICON.HOME.LICENSE.DETAILS.P1"></p>
                        <p translate="HELP_ICON.HOME.LICENSE.DETAILS.P2"></p>
                        <p>
                            <span translate="HELP_ICON.HOME.LICENSE.DETAILS.P3_PRE"></span>
                            <a class="orange" href="mailto:{{'HELP_ICON.HOME.LICENSE.DETAILS.P3_MAIL' | translate}}" translate="HELP_ICON.HOME.LICENSE.DETAILS.P3_MAIL"></a><!--
                            --><span translate="HELP_ICON.HOME.LICENSE.DETAILS.P3_POST"></span>
                        </p>
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>
