<div class="dropdown-filter-container">
    <dropdown-users image-label="ctrl.operatingUser.system ? 'CONTROLBAR.MENU.USER.LABEL_SYSTEM' : ctrl.operatingUser.name"
                    image-url="ctrl.operatingUser.system ? '/img/icons/ic_person_outline_black.svg' : '/img/icons/ic_person_black.svg'"
                    label="'CONTROLBAR.MENU.USER.LABEL'"
                    assigned-user="ctrl.assignedUser"
                    operating-user="ctrl.operatingUser"
                    users="ctrl.users"
                    options="ctrl.options"
                    close-dropdown="ctrl.closeDropdown">
    </dropdown-users>
</div>
