<div class="open-source-system-components" layout-padding layout-margin>

    <div layout="row" layout-align="start center" layout-align-xs="center center" style="width: 100%;">
        <eb-back-to-table state="{{vm.backState}}" params="vm.stateParams"></eb-back-to-table>
    </div>

    <h3 translate="ADMINCONSOLE.OPEN_SOURCE_LICENSES.JAVA.TITLE"></h3>

    <table>
        <tr>
            <th translate="ADMINCONSOLE.OPEN_SOURCE_LICENSES.JAVA.COLUMN.GROUPID"></th>
            <th translate="ADMINCONSOLE.OPEN_SOURCE_LICENSES.JAVA.COLUMN.ARTIFACTID"></th>
            <th translate="ADMINCONSOLE.OPEN_SOURCE_LICENSES.JAVA.COLUMN.VERSION"></th>
            <th translate="ADMINCONSOLE.OPEN_SOURCE_LICENSES.JAVA.COLUMN.TYPE"></th>
            <th translate="ADMINCONSOLE.OPEN_SOURCE_LICENSES.JAVA.COLUMN.LICENSE"></th>
        </tr>

        <tr>
            <td>aopalliance</td>
            <td><a href="http://aopalliance.sourceforge.net">aopalliance</a></td>
            <td>1.0</td>
            <td>jar</td>
            <td><a href="http://aopalliance.sourceforge.net">Public Domain</a></td>
        </tr>
        <tr>
            <td>ch.mimo</td>
            <td><a href="http://icap.mimo.ch/">netty-icap</a></td>
            <td>1.0.1.GA</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.auth0</td>
            <td><a href="http://www.jwt.io">java-jwt</a></td>
            <td>2.2.0</td>
            <td>jar</td>
            <td><a href="http://www.opensource.org/licenses/mit-license.php">The MIT License</a></td>
        </tr>
        <tr>
            <td>com.fasterxml.jackson.core</td>
            <td><a href="http://github.com/FasterXML/jackson">jackson-annotations</a></td>
            <td>2.6.6</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.fasterxml.jackson.core</td>
            <td><a href="https://github.com/FasterXML/jackson-core">jackson-core</a></td>
            <td>2.6.6</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.fasterxml.jackson.core</td>
            <td><a href="http://github.com/FasterXML/jackson">jackson-databind</a></td>
            <td>2.6.6</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.fasterxml.jackson.dataformat</td>
            <td><a href="http://wiki.fasterxml.com/JacksonExtensionXmlDataBinding">jackson-dataformat-xml</a></td>
            <td>2.6.6</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.fasterxml.jackson.datatype</td>
            <td><a href="https://github.com/FasterXML/jackson-datatype-guava">jackson-datatype-guava</a></td>
            <td>2.6.6</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.fasterxml.jackson.datatype</td>
            <td><a href="http://wiki.fasterxml.com/JacksonModuleJSR310">jackson-datatype-jsr310</a></td>
            <td>2.6.6</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.fasterxml.jackson.module</td>
            <td><a href="http://wiki.fasterxml.com/JacksonJAXBAnnotations">jackson-module-jaxb-annotations</a></td>
            <td>2.6.6</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.google.guava</td>
            <td><a href="https://github.com/google/guava/guava">guava</a></td>
            <td>20.0</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.google.inject.extensions</td>
            <td><a href="https://github.com/google/guice/extensions-parent/guice-assistedinject">guice-assistedinject</a></td>
            <td>4.0</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.google.inject.extensions</td>
            <td><a href="https://github.com/google/guice/extensions-parent/guice-multibindings">guice-multibindings</a></td>
            <td>4.0</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.google.inject</td>
            <td><a href="https://github.com/google/guice/guice">guice</a></td>
            <td>4.0</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.strategicgains</td>
            <td><a href="https://github.com/tfredrich/DateAdapterJ">DateAdapterJ</a></td>
            <td>1.1.2</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.strategicgains</td>
            <td><a href="https://github.com/RestExpress/RestExpress-Common">RestExpress-Common</a></td>
            <td>0.10.5</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.strategicgains</td>
            <td><a href="https://github.com/RestExpress/RestExpress">RestExpress</a></td>
            <td>0.10.5</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.strategicgains</td>
            <td><a href="https://github.com/RestExpress/Syntaxe">Syntaxe</a></td>
            <td>0.4.9</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>com.thoughtworks.xstream</td>
            <td><a href="http://codehaus.org/xstream-parent/xstream/">xstream</a></td>
            <td>1.4.7</td>
            <td>jar</td>
            <td><a href="http://xstream.codehaus.org/license.html">BSD style</a></td>
        </tr>
        <tr>
            <td>commons-cli</td>
            <td><a href="http://commons.apache.org/proper/commons-cli/">commons-cli</a></td>
            <td>1.3.1</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>commons-codec</td>
            <td><a href="http://commons.apache.org/proper/commons-codec/">commons-codec</a></td>
            <td>1.10</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>commons-io</td>
            <td><a href="http://commons.apache.org/io/">commons-io</a></td>
            <td>2.4</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>commons-logging</td>
            <td><a href="http://commons.apache.org/proper/commons-logging/">commons-logging</a></td>
            <td>1.2</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>io.netty</td>
            <td><a href="http://netty.io/">netty</a></td>
            <td>3.9.6.Final</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>javax.annotation</td>
            <td><a href="http://jcp.org/en/jsr/detail?id=250">javax.annotation-api</a></td>
            <td>1.2</td>
            <td>jar</td>
            <td><a href="https://glassfish.dev.java.net/nonav/public/CDDL+GPL.html">CDDL + GPLv2 with classpath exception</a></td>
        </tr>
        <tr>
            <td>javax.inject</td>
            <td><a href="http://code.google.com/p/atinject/">javax.inject</a></td>
            <td>1</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>javax.ws.rs</td>
            <td><a href="http://jax-rs-spec.java.net">javax.ws.rs-api</a></td>
            <td>2.1</td>
            <td>jar</td>
            <td><a href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1</a></td>
        </tr>
        <tr>
            <td>log4j</td>
            <td><a href="http://logging.apache.org/log4j/1.2/">log4j</a></td>
            <td>1.2.17</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.apache.commons</td>
            <td><a href="http://commons.apache.org/proper/commons-csv/">commons-csv</a></td>
            <td>1.4</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.apache.commons</td>
            <td><a href="http://jakarta.apache.org/commons/io/">commons-io</a></td>
            <td>1.3.2</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.apache.commons</td>
            <td><a href="http://commons.apache.org/proper/commons-lang/">commons-lang3</a></td>
            <td>3.4</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.apache.commons</td>
            <td><a href="http://commons.apache.org/proper/commons-pool/">commons-pool2</a></td>
            <td>2.4.2</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.apache.httpcomponents</td>
            <td><a href="http://hc.apache.org/httpcomponents-client">httpclient</a></td>
            <td>4.5.3</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.apache.httpcomponents</td>
            <td><a href="http://hc.apache.org/httpcomponents-core-ga">httpcore</a></td>
            <td>4.4.6</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.bouncycastle</td>
            <td><a href="http://www.bouncycastle.org/java.html">bcpkix-jdk15on</a></td>
            <td>1.52</td>
            <td>jar</td>
            <td><a href="http://www.bouncycastle.org/licence.html">Bouncy Castle Licence</a></td>
        </tr>
        <tr>
            <td>org.bouncycastle</td>
            <td><a href="http://www.bouncycastle.org/java.html">bcprov-jdk15on</a></td>
            <td>1.52</td>
            <td>jar</td>
            <td><a href="http://www.bouncycastle.org/licence.html">Bouncy Castle Licence</a></td>
        </tr>
        <tr>
            <td>org.brotli</td>
            <td><a href="http://brotli.org/dec">dec</a></td>
            <td>0.1.2</td>
            <td>jar</td>
            <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a></td>
        </tr>
        <tr>
            <td>org.codehaus.woodstox</td>
            <td><a href="http://wiki.fasterxml.com/WoodstoxStax2">stax2-api</a></td>
            <td>3.1.4</td>
            <td>jar</td>
            <td><a href="http://www.opensource.org/licenses/bsd-license.php">The BSD License</a></td>
        </tr>
        <tr>
            <td>org.fourthline.cling</td>
            <td><a href="http://4thline.org/projects/cling/cling-core/">cling-core</a></td>
            <td>2.1.1</td>
            <td>jar</td>
            <td><a href="http://www.gnu.org/licenses/lgpl-2.1.html">GNU Lesser General Public License, Version 2.1 or later</a></td>
        </tr>
        <tr>
            <td>org.fourthline.cling</td>
            <td><a href="http://4thline.org/projects/cling/cling-support/">cling-support</a></td>
            <td>2.1.1</td>
            <td>jar</td>
            <td><a href="http://www.gnu.org/licenses/lgpl-2.1.html">GNU Lesser General Public License, Version 2.1 or later</a></td>
        </tr>
        <tr>
            <td>org.glassfish.hk2.external</td>
            <td><a href="https://github.com/hk2-project/hk2/external/aopalliance-repackaged">aopalliance-repackaged</a></td>
            <td>2.5.0-b42</td>
            <td>jar</td>
            <td><a href="https://glassfish.java.net/nonav/public/CDDL+GPL_1_1.html">CDDL + GPLv2 with classpath exception</a></td>
        </tr>
        <tr>
            <td>org.glassfish.hk2.external</td>
            <td><a href="https://github.com/hk2-project/hk2/external/javax.inject">javax.inject</a></td>
            <td>2.5.0-b42</td>
            <td>jar</td>
            <td><a href="https://glassfish.java.net/nonav/public/CDDL+GPL_1_1.html">CDDL + GPLv2 with classpath exception</a></td>
        </tr>
        <tr>
            <td>org.glassfish.hk2</td>
            <td><a href="https://github.com/hk2-project/hk2/hk2-api">hk2-api</a></td>
            <td>2.5.0-b42</td>
            <td>jar</td>
            <td><a href="https://glassfish.java.net/nonav/public/CDDL+GPL_1_1.html">CDDL + GPLv2 with classpath exception</a></td>
        </tr>
        <tr>
            <td>org.glassfish.hk2</td>
            <td><a href="https://github.com/hk2-project/hk2/hk2-locator">hk2-locator</a></td>
            <td>2.5.0-b42</td>
            <td>jar</td>
            <td><a href="https://glassfish.java.net/nonav/public/CDDL+GPL_1_1.html">CDDL + GPLv2 with classpath exception</a></td>
        </tr>
        <tr>
            <td>org.glassfish.hk2</td>
            <td><a href="https://github.com/hk2-project/hk2/hk2-utils">hk2-utils</a></td>
            <td>2.5.0-b42</td>
            <td>jar</td>
            <td><a href="https://glassfish.java.net/nonav/public/CDDL+GPL_1_1.html">CDDL + GPLv2 with classpath exception</a></td>
        </tr>
        <tr>
            <td>org.glassfish.hk2</td>
            <td><a href="http://glassfish.org/osgi-resource-locator/">osgi-resource-locator</a></td>
            <td>1.0.1</td>
            <td>jar</td>
            <td><a href="https://glassfish.dev.java.net/nonav/public/CDDL+GPL.html">CDDL + GPLv2 with classpath exception</a></td>
        </tr>
        <tr>
            <td>org.glassfish.jersey.core</td>
            <td><a href="https://jersey.github.io/jersey-client/">jersey-client</a></td>
            <td>2.26</td>
            <td>jar</td>
            <td><a href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1</a></td>
        </tr>
        <tr>
            <td>org.glassfish.jersey.core</td>
            <td><a href="https://jersey.github.io/jersey-common/">jersey-common</a></td>
            <td>2.26</td>
            <td>jar</td>
            <td><a href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1</a></td>
        </tr>
        <tr>
            <td>org.glassfish.jersey.ext</td>
            <td><a href="https://jersey.github.io/project/jersey-entity-filtering/">jersey-entity-filtering</a></td>
            <td>2.26</td>
            <td>jar</td>
            <td><a href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1</a></td>
        </tr>
        <tr>
            <td>org.glassfish.jersey.inject</td>
            <td><a href="https://jersey.github.io/project/jersey-hk2/">jersey-hk2</a></td>
            <td>2.26</td>
            <td>jar</td>
            <td><a href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1</a></td>
        </tr>
        <tr>
            <td>org.glassfish.jersey.media</td>
            <td><a href="https://jersey.github.io/project/jersey-media-json-jackson/">jersey-media-json-jackson</a></td>
            <td>2.26</td>
            <td>jar</td>
            <td><a href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1</a></td>
        </tr>
        <tr>
            <td>org.javassist</td>
            <td><a href="http://www.javassist.org/">javassist</a></td>
            <td>3.21.0-GA</td>
            <td>jar</td>
            <td><a href="http://www.mozilla.org/MPL/MPL-1.1.html">MPL 1.1</a></td>
        </tr>
        <tr>
            <td>org.jmdns</td>
            <td><a href="http://jmdns.org">jmdns</a></td>
            <td>3.5.1</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.mapdb</td>
            <td><a href="http://www.mapdb.org">mapdb</a></td>
            <td>1.0.9</td>
            <td>jar</td>
            <td><a href="http://www.apache.org/licenses/LICENSE-2.0.txt">The Apache Software License, Version 2.0</a></td>
        </tr>
        <tr>
            <td>org.owasp.encoder</td>
            <td><a href="https://www.owasp.org/index.php/OWASP_Java_Encoder_Project/encoder">encoder</a></td>
            <td>1.1.1</td>
            <td>jar</td>
            <td><a href="http://www.opensource.org/licenses/BSD-3-Clause">The BSD 3-Clause License</a></td>
        </tr>
        <tr>
            <td>org.seamless</td>
            <td><a href="http://seamless.org/seamless-http/">seamless-http</a></td>
            <td>1.1.1</td>
            <td>jar</td>
            <td><a href="http://www.gnu.org/licenses/lgpl-2.1.html">GNU Lesser General Public License, Version 2 or later</a></td>
        </tr>
        <tr>
            <td>org.seamless</td>
            <td><a href="http://seamless.org/seamless-swing/">seamless-swing</a></td>
            <td>1.1.1</td>
            <td>jar</td>
            <td><a href="http://www.gnu.org/licenses/lgpl-2.1.html">GNU Lesser General Public License, Version 2 or later</a></td>
        </tr>
        <tr>
            <td>org.seamless</td>
            <td><a href="http://seamless.org/seamless-util/">seamless-util</a></td>
            <td>1.1.1</td>
            <td>jar</td>
            <td><a href="http://www.gnu.org/licenses/lgpl-2.1.html">GNU Lesser General Public License, Version 2 or later</a></td>
        </tr>
        <tr>
            <td>org.seamless</td>
            <td><a href="http://seamless.org/seamless-xml/">seamless-xml</a></td>
            <td>1.1.1</td>
            <td>jar</td>
            <td><a href="http://www.gnu.org/licenses/lgpl-2.1.html">GNU Lesser General Public License, Version 2 or later</a></td>
        </tr>
        <tr>
            <td>org.slf4j</td>
            <td><a href="http://www.slf4j.org">jul-to-slf4j</a></td>
            <td>1.7.25</td>
            <td>jar</td>
            <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a></td>
        </tr>
        <tr>
            <td>org.slf4j</td>
            <td><a href="http://www.slf4j.org">slf4j-api</a></td>
            <td>1.7.12</td>
            <td>jar</td>
            <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a></td>
        </tr>
        <tr>
            <td>org.slf4j</td>
            <td><a href="http://www.slf4j.org">slf4j-log4j12</a></td>
            <td>1.7.12</td>
            <td>jar</td>
            <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a></td>
        </tr>
        <tr>
            <td>redis.clients</td>
            <td><a href="https://github.com/xetorthio/jedis">jedis</a></td>
            <td>2.9.0</td>
            <td>jar</td>
            <td><a href="http://github.com/xetorthio/jedis/raw/master/LICENSE.txt">MIT</a></td>
        </tr>
        <tr>
            <td>xmlpull</td>
            <td><a href="http://www.xmlpull.org">xmlpull</a></td>
            <td>1.1.3.1</td>
            <td>jar</td>
            <td><a href="http://www.xmlpull.org/v1/download/unpacked/LICENSE.txt">Public Domain</a></td>
        </tr>
        <tr>
            <td>xpp3</td>
            <td><a href="http://www.extreme.indiana.edu/xgws/xsoap/xpp/mxp1/">xpp3_min</a></td>
            <td>1.1.4c</td>
            <td>jar</td>
            <td><a href="http://www.extreme.indiana.edu/viewcvs/~checkout~/XPP3/java/LICENSE.txt">Indiana University Extreme! Lab Software License, vesion 1.1.1</a></td>
        </tr>
    </table>

</div>
