# We look only for "vfat" and "exfat" partitions of USB block devices
ACTION!="add", GOTO="automount_end"
SUBSYSTEM!="block", GOTO="automount_end"
ENV{DEVTYPE}!="partition", GOTO="automount_end"
ENV{ID_BUS}!="usb", GOTO="automount_end"
ENV{ID_FS_TYPE}!="vfat", ENV{ID_FS_TYPE}!="exfat", GOTO="automount_end"

# Ignore EFI system partitions
ENV{ID_PART_ENTRY_TYPE}=="c12a7328-f81f-11d2-ba4b-00a0c93ec93b", GOTO="automount_end"
ENV{ID_PART_ENTRY_TYPE}=="0xef", GOTO="automount_end"

# Mount partition via Systemd
TAG+="systemd"
ENV{SYSTEMD_WANTS}+="eblocker-usb-automount@%k.service"

LABEL="automount_end"
