<div layout="column" layout-fill class="settings-child-view">

    <div layout-padding>

        <eb-back-to-table state="{{vm.backState}}" params="vm.stateParams"></eb-back-to-table>

        <md-divider></md-divider>

        <div>
            <h2 style="margin-top: 0;">
                {{'ADMINCONSOLE.FILTER_ANALYSIS.DETAILS.HEADING' | translate }}
            </h2>
        </div>

        <!-- content -->
        <div flex-gt-xs layout="column" layout-align="start start" layout-align-xs="start center">

        </div>
    </div>
</div>
