<div layout-padding>
    <div style="margin-top: 10px;" class="md-headline">
        {{ 'HELP_ICON.SYSTEM.RESET.OVERVIEW.TITLE' | translate}}
    </div>
    <div>
        <h3 translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.H1"></h3>
        <p translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P1"></p>
        <h3 translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.H2"></h3>
        <p translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P2"></p>
        <h3 translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.H3"></h3>
        <p>
            <span translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P3_PRE"></span>
            <a class="orange" ng-href="{{'HELP_ICON.SYSTEM.RESET.OVERVIEW.P3_LINK_URL' | translate}}" target="_blank" translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P3_LINK_TEXT"></a>
            <span translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P3_POST"></span>
        </p>
    </div>
    <!--<md-tabs md-dynamic-height md-border-bottom>-->
        <!--<md-tab>-->
            <!--<md-tab-label>{{ 'HELP_ICON.TAB.OVERVIEW' | translate }}</md-tab-label>-->
            <!--<md-tab-body>-->
                <!--<md-content layout="column" class="help-tab">-->
                    <!--<div style="margin-top: 10px;" class="md-headline">-->
                        <!--{{ 'HELP_ICON.SYSTEM.RESET.OVERVIEW.TITLE' | translate}}-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<h3 translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.H1"></h3>-->
                        <!--<p translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P1"></p>-->
                        <!--<h3 translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.H2"></h3>-->
                        <!--<p translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P2"></p>-->
                        <!--<h3 translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.H3"></h3>-->
                        <!--<p>-->
                            <!--<span translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P3_PRE"></span>-->
                            <!--<a class="orange" ng-href="{{'HELP_ICON.SYSTEM.RESET.OVERVIEW.P3_LINK_URL' | translate}}" target="_blank" translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P3_LINK_TEXT"></a>-->
                            <!--<span translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P3_POST"></span>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</md-content>-->
            <!--</md-tab-body>-->
        <!--</md-tab>-->
    <!--</md-tabs>-->
</div>
