<div layout-padding>
    <div style="margin-top: 10px;" class="md-headline">
        {{ 'HELP_ICON.SYSTEM.RESET.OVERVIEW.TITLE' | translate}}
    </div>
    <div>
        <p>
            <span translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P1_PRE"></span>
            <a class="orange" ng-href="{{'HELP_ICON.SYSTEM.RESET.OVERVIEW.P1_LINK_URL' | translate}}" target="_blank" translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P1_LINK_TEXT"></a>
            <span translate="HELP_ICON.SYSTEM.RESET.OVERVIEW.P1_POST"></span>
        </p>
    </div>
</div>
