<div>

    <div style="padding-bottom: 0;">
        <h3 translate="WIZARD.HTTPS.IOS_ADD_CERT.TITLE"></h3>
    </div>

    <div>
        <ol>
            <li>
                <md-button class="md-raised md-secondary"
                           ng-href="{{ vm.getCertificateDownloadUrl() }}"
                           ng-click="vm.loadCertificate()">
                    {{ 'WIZARD.HTTPS.ACTION.DOWNLOAD_CERT' | translate }}
                </md-button>
            </li>
            <li translate="WIZARD.HTTPS.IOS_ADD_CERT.STEP_2"></li>
            <li translate="WIZARD.HTTPS.IOS_ADD_CERT.STEP_3"></li>
            <li translate="WIZARD.HTTPS.IOS_ADD_CERT.STEP_4"></li>
            <li translate="WIZARD.HTTPS.IOS_ADD_CERT.STEP_5"></li>
        </ol>
    </div>

    <div layout="row" layout-align="end center" layout-align-xs="center center" layout-xs="column">
        <md-button type="button" ng-click="vm.backToDashboard()" class="md-raised md-secondary">
            {{ 'WIZARD.HTTPS.ACTION.CANCEL' | translate }}
        </md-button>
        <md-button type="button" ng-click="vm.prevStep()" class="md-raised md-secondary">
            {{ 'WIZARD.HTTPS.ACTION.BACK' | translate }}
        </md-button>
        <md-button type="button" ng-click="vm.nextStep()" class="md-raised md-primary md-accent">
            {{ 'WIZARD.HTTPS.ACTION.CONTINUE' | translate }}
        </md-button>
    </div>
</div>
