<div layout-padding layout="column">
    <h4>{{ 'ADMINCONSOLE.ACTIVATION.TAB.AUTO_ENABLE_NEW_DEVICES.TEXT1' | translate }}</h4>

    <form name="vm.autoEnableNewDevicesForm" ng-submit="vm.submitAutoEnableNewDevicesForm()">
        <md-radio-group md-theme="eBlockerThemeRadio" class="md-primary" ng-model="vm.isAutoEnableNewDevices">
            <md-radio-button class="md-accent" ng-value="false">
                <h4 style="margin: 0;">{{
                    'ADMINCONSOLE.ACTIVATION.TAB.AUTO_ENABLE_NEW_DEVICES.AUTO_ENABLE_NEW_DEVICES_DISABLED.TITLE' |
                    translate
                    }}</h4>
                <div>{{ 'ADMINCONSOLE.ACTIVATION.TAB.AUTO_ENABLE_NEW_DEVICES.AUTO_ENABLE_NEW_DEVICES_DISABLED.TEXT' |
                    translate
                    }}
                </div>
            </md-radio-button>
            <md-radio-button class="md-accent" ng-value="true">
                <h4 style="margin: 0;">{{
                    'ADMINCONSOLE.ACTIVATION.TAB.AUTO_ENABLE_NEW_DEVICES.AUTO_ENABLE_NEW_DEVICES_ENABLED.TITLE' | translate
                    }}</h4>
                <div>{{ 'ADMINCONSOLE.ACTIVATION.TAB.AUTO_ENABLE_NEW_DEVICES.AUTO_ENABLE_NEW_DEVICES_ENABLED.TEXT' |
                    translate
                    }}
                </div>
            </md-radio-button>
        </md-radio-group>
        <div layout="row" layout-align="end center">
            <md-button type="button" ng-click="vm.closeWizard()" class="md-raised md-secondary">
                {{ 'ADMINCONSOLE.ACTIVATION.ACTION.CANCEL' | translate }}
            </md-button>
            <md-button type="button" ng-click="vm.prevStep()" class="md-raised md-secondary">
                {{ 'ADMINCONSOLE.ACTIVATION.ACTION.BACK' | translate }}
            </md-button>
            <md-button type="submit" class="md-raised md-primary md-accent">
                {{ 'ADMINCONSOLE.ACTIVATION.ACTION.CONTINUE' | translate }}
            </md-button>
        </div>
    </form>
</div>
