Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: default-jdk-headless
Maintainer: eBlocker Open Source UG <dev@eblocker.org>
Description: eBlocker Squid external TLS certificate validator
Distribution: development
