<div>
    <div style="padding-bottom: 0;">
        <h3>{{ 'WIZARD.MOBILE.INSTALL_CONFIG_WIN.TITLE' | translate }}</h3>
    </div>

    <div>
        <p translate="WIZARD.MOBILE.INSTALL_CONFIG_WIN.TEXT"></p>
    </div>

    <div>
        <img style="width: 70%;" src="/img/openVpn/Screenshot_Windows_OpenVPN_copy-config.png"/>
    </div>

    <div>
        <p>{{'WIZARD.MOBILE.INSTALL_CONFIG_WIN.TEXT_COPY' | translate:{name: vm.getConfigFileName()} }}</p>
    </div>

    <div layout="row" layout-align="end center" layout-padding>
        <md-checkbox md-theme="eBlockerThemeCheckbox"
                     layout="row" layout-align="start center"
                     ng-model="vm.confirmInstallConfigWin"
                     class="md-primary"
                     style="margin-bottom: -1px;"
                     aria-label="Tor country checkbox">
            {{'WIZARD.MOBILE.INSTALL_CONFIG_WIN.CONFIRM_COPY' | translate}}
        </md-checkbox>
    </div>

    <div layout="row" layout-align="end center" layout-xs="column">
        <md-button type="button" ng-click="vm.backToDashboard()" class="md-raised md-secondary">
            {{ 'WIZARD.MOBILE.ACTION.CANCEL' | translate }}
        </md-button>
        <md-button type="button" ng-click="vm.prevStep()" class="md-raised md-secondary">
            {{ 'WIZARD.MOBILE.ACTION.BACK' | translate }}
        </md-button>
        <md-button type="button" ng-click="vm.nextStep()" ng-disabled="!vm.confirmInstallConfigWin" class="md-raised md-primary md-accent">
            {{ 'WIZARD.MOBILE.ACTION.CONTINUE' | translate }}
        </md-button>
    </div>
</div>
