<div>

    <div style="padding-bottom: 0;">
        <h3>{{ 'WIZARD.MOBILE.DOWNLOAD_CONFIG_ANDROID.TITLE' | translate }}</h3>
    </div>

    <div>

        <ol>
            <li>
                <span translate="WIZARD.MOBILE.DOWNLOAD_CONFIG_ANDROID.STEP_1"></span>
                <div>
                    <md-button class="md-raised md-primary md-accent"
                               ng-disabled="vm.isDownloadingConf"
                               ng-click="vm.downloadClientConf(vm.device);"
                               aria-label="{{ 'WIZARD.MOBILE.DOWNLOAD_CONFIG_ANDROID.ACTION_DOWNLOAD' | translate }}">
                        {{'WIZARD.MOBILE.DOWNLOAD_CONFIG_ANDROID.ACTION_DOWNLOAD' | translate}}
                    </md-button>
                </div>
            </li>
            <li translate="WIZARD.MOBILE.DOWNLOAD_CONFIG_ANDROID.STEP_2"></li>
            <li translate="WIZARD.MOBILE.DOWNLOAD_CONFIG_ANDROID.STEP_3"></li>
            <li translate="WIZARD.MOBILE.DOWNLOAD_CONFIG_ANDROID.STEP_4"></li>
        </ol>

    </div>

    <div layout="row" layout-align="end center" layout-padding>
        <md-checkbox md-theme="eBlockerThemeCheckbox"
                     layout="row" layout-align="start center"
                     ng-model="vm.confirmInstallConfigAndroid"
                     class="md-primary"
                     style="margin-bottom: -1px;"
                     aria-label="Tor country checkbox">
            {{'WIZARD.MOBILE.DOWNLOAD_CONFIG_ANDROID.CONFIRM_DOWNLOAD' | translate}}
        </md-checkbox>
    </div>


    <div layout="row" layout-align="end center" layout-xs="column">
        <md-button type="button" ng-click="vm.backToDashboard()" class="md-raised md-secondary">
            {{ 'WIZARD.MOBILE.ACTION.CANCEL' | translate }}
        </md-button>
        <md-button type="button" ng-click="vm.prevStep()" class="md-raised md-secondary">
            {{ 'WIZARD.MOBILE.ACTION.BACK' | translate }}
        </md-button>
        <md-button type="button" ng-click="vm.nextStep()" ng-disabled="!vm.confirmInstallConfigAndroid || vm.isDownloadingConf" class="md-raised md-primary md-accent">
            {{ 'WIZARD.MOBILE.ACTION.CONTINUE' | translate }}
        </md-button>
    </div>
</div>
