<div>

    <div style="padding-bottom: 0;">
        <h3>{{ 'WIZARD.MOBILE.DOWNLOAD_CONFIG_WIN_MAC.TITLE' | translate }}</h3>
    </div>

    <div>
        <p translate="WIZARD.MOBILE.DOWNLOAD_CONFIG_WIN_MAC.TEXT"></p>
    </div>

   <div>
       <md-button class="md-raised md-primary md-accent"
                  ng-disabled="vm.isDownloadingConf"
                  ng-click="vm.downloadClientConf(vm.device); vm.confirmDownloadConfigWinMac = true;"
                  aria-label="{{ 'WIZARD.MOBILE.DOWNLOAD_CONFIG_WIN_MAC.ACTION_DOWNLOAD' | translate }}">
           {{'WIZARD.MOBILE.DOWNLOAD_CONFIG_WIN_MAC.ACTION_DOWNLOAD' | translate}}
       </md-button>
   </div>

    <div layout="row" layout-align="end center" layout-padding>
        <md-checkbox md-theme="eBlockerThemeCheckbox"
                     layout="row" layout-align="start center"
                     ng-model="vm.confirmDownloadConfigWinMac"
                     class="md-primary"
                     style="margin-bottom: -1px;"
                     aria-label="Tor country checkbox">
            {{'WIZARD.MOBILE.DOWNLOAD_CONFIG_WIN_MAC.CONFIRM_DOWNLOAD' | translate}}
        </md-checkbox>
    </div>


    <div layout="row" layout-align="end center" layout-xs="column">
        <md-button type="button" ng-click="vm.backToDashboard()" class="md-raised md-secondary">
            {{ 'WIZARD.MOBILE.ACTION.CANCEL' | translate }}
        </md-button>
        <md-button type="button" ng-click="vm.prevStep()" class="md-raised md-secondary">
            {{ 'WIZARD.MOBILE.ACTION.BACK' | translate }}
        </md-button>
        <md-button type="button" ng-click="vm.nextStep()" ng-disabled="!vm.confirmDownloadConfigWinMac || vm.isDownloadingConf" class="md-raised md-primary md-accent">
            {{ 'WIZARD.MOBILE.ACTION.CONTINUE' | translate }}
        </md-button>
    </div>
</div>
