<md-dialog aria-label="{{ vm.msgKeys.title | translate }}"
           style="max-width: 800px;">
    <form name="vm.confirmationForm" novalidate style="overflow: initial;" layout-padding>
        <md-dialog-content layout="column" layout-padding>
            <div>
                <h2>{{ vm.msgKeys.title | translate }}</h2>
            </div>
            <div>
                <p>{{ vm.msgKeys.text | translate }}</p>
            </div>
            <div ng-if="vm.errors.length > 0">
                <p>{{ vm.msgKeys.error | translate }}</p>
                <p ng-repeat="error in vm.errors">
                    <span class="content-error">{{error | translate}}</span>
                </p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row"
                           layout-align="end center"
                           layout-xs="column"
                           layout-align-xs="center center"
                           style="padding-right: 16px;">
            <md-button type="button" ng-click="vm.cancel()" class="md-raised md-secondary">{{ vm.msgKeys.cancelButton | translate }}</md-button>
            <md-button type="button" ng-click="vm.close()"  class="md-raised md-secondary">{{ vm.msgKeys.noButton | translate }}</md-button>
            <md-button type="button" ng-click="vm.saveAndClose()" class="md-raised md-primary md-accent">{{ vm.msgKeys.yesButton | translate }}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
