<div layout-padding>
    <div style="margin-top: 10px;" class="md-headline">
        {{ 'HELP_ICON.SYSTEM.ADMIN_PW.OVERVIEW.TITLE' | translate}}
    </div>
    <div>
        <p translate="HELP_ICON.SYSTEM.ADMIN_PW.OVERVIEW.P1"></p>
    </div>
    <!--<md-tabs md-dynamic-height md-border-bottom>-->
        <!--<md-tab>-->
            <!--<md-tab-label>{{ 'HELP_ICON.TAB.OVERVIEW' | translate }}</md-tab-label>-->
            <!--<md-tab-body>-->
                <!--<md-content layout="column" class="help-tab">-->
                    <!--<div style="margin-top: 10px;" class="md-headline">-->
                        <!--{{ 'HELP_ICON.SYSTEM.ADMIN_PW.OVERVIEW.TITLE' | translate}}-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<p translate="HELP_ICON.SYSTEM.ADMIN_PW.OVERVIEW.P1"></p>-->
                    <!--</div>-->
                <!--</md-content>-->
            <!--</md-tab-body>-->
        <!--</md-tab>-->
    <!--</md-tabs>-->
</div>
