<eb-card
    icon="/img/icons/ic_list_black.svg"
    card-title="{{'DOMAIN_PASSLIST.CARD.TITLE' | translate}}"
    card-id="{{ vm.cardId }}"
    tooltip="DOMAIN_PASSLIST.CARD.TOOLTIP">

    <eb-card-content class="whitelist-dns-card">
        <div layout="column">
            <dashboard-domain-blocklist-table
                domains="vm.customDomainFilter.whitelistedDomains"
                user="vm.user"
                on-update="vm.updatePasslist(domains)"
                placeholder="DOMAIN_PASSLIST.CARD.TABLE.EMPTY_LIST">
            </dashboard-domain-blocklist-table>
        </div>
    </eb-card-content>

</eb-card>
