<eb-card
    icon="/img/icons/ic_list_black.svg"
    card-title="{{'DOMAIN_BLOCKLIST.CARD.TITLE' | translate}}"
    card-id="{{ vm.cardId }}"
    tooltip="DOMAIN_BLOCKLIST.CARD.TOOLTIP">

    <eb-card-content class="whitelist-dns-card">
        <div layout="column">
            <dashboard-domain-blocklist-table
                domains="vm.customDomainFilter.blacklistedDomains"
                user="vm.user"
                on-update="vm.updateBlocklist(domains)"
                placeholder="DOMAIN_BLOCKLIST.CARD.TABLE.EMPTY_LIST">
            </dashboard-domain-blocklist-table>
        </div>
    </eb-card-content>

</eb-card>
