<!--<button-entry handle-click="ctrl.toggleLabel()"-->
              <!--label="ctrl.plusText ? 'CONTROLBAR.MENU.CLOAKING.LABEL_LONG' : 'CONTROLBAR.MENU.CLOAKING.LABEL'"-->
              <!--image-url="'/img/icons/devices.svg'">-->
<!--</button-entry>-->
<dropdown-cloaking  label="'CONTROLBAR.MENU.CLOAKING.MENU.LABEL'"
                    image-label="'CONTROLBAR.MENU.CLOAKING.LABEL'"
                    image-url="'/img/icons/ic_devices_black.svg'"
                    show-ssl-warning="ctrl.showSslWarning()"
                    user-agent-list="ctrl.userAgentList"
                    selected-user-agent="ctrl.selectedUserAgent"
                    set-user-agent="ctrl.setUserAgent(userAgent)"
                    set-custom-user-agent="ctrl.setCustomUserAgent()"
                    close-dropdown="ctrl.closeDropdown"
                    tooltip="'CONTROLBAR.MENU.CLOAKING.TOOLTIP'">
</dropdown-cloaking>
