<div>
    <dropdown-filters image-label="'CONTROLBAR.MENU.TRACKERS.LABEL'"
                      image-url="'/img/icons/ic_visibility_on.svg'"
                      badge-number="ctrl.numBlocked"
                      label-block-global="'CONTROLBAR.MENU.TRACKERS.MENU.LABEL_BLOCK_GLOBAL'"
                      label-allow-local="'CONTROLBAR.MENU.TRACKERS.MENU.LABEL_ALLOW_LOCAL'"
                      label-blocked="'CONTROLBAR.MENU.TRACKERS.MENU.LABEL_BLOCKED'"
                      allow-locally-callback="ctrl.allowLocallyFn(value)"
                      block-globally-callback="ctrl.blockGloballyFn(value)"
                      blocking-vars="ctrl.blockingVars"
                      filter-mode="ctrl.filterMode"
                      blocked-list="ctrl.blockedTrackers"
                      dns-blockings="ctrl.dnsBlockings"
                      tooltip="ctrl.getTooltip()">
    </dropdown-filters>
</div>


