<div layout-padding>
    <div style="margin-top: 10px;" class="md-headline">
        {{ 'HELP_ICON.DNS.STATUS.OVERVIEW.TITLE' | translate}}
    </div>
    <div>
        <p translate="HELP_ICON.DNS.STATUS.OVERVIEW.P1"></p>
        <p translate="HELP_ICON.DNS.STATUS.OVERVIEW.P2"></p>
        <p>
            <span translate="HELP_ICON.DNS.STATUS.OVERVIEW.P3_LABEL" style="font-weight: bold;"></span>
            <span translate="HELP_ICON.DNS.STATUS.OVERVIEW.P3_TEXT"></span>
        </p>
        <p>
            <span translate="HELP_ICON.DNS.STATUS.OVERVIEW.P4_LABEL" style="font-weight: bold;"></span>
            <span translate="HELP_ICON.DNS.STATUS.OVERVIEW.P4_TEXT"></span>
        </p>
        <p>
            <span translate="HELP_ICON.DNS.STATUS.OVERVIEW.P5_LABEL" style="font-weight: bold;"></span>
            <span translate="HELP_ICON.DNS.STATUS.OVERVIEW.P5_TEXT"></span>
        </p>
        <p translate="HELP_ICON.DNS.STATUS.OVERVIEW.P6"></p>
    </div>
</div>
